@use '../../../../assets/style/base/mixins' as *;
@use '../../../../assets/style/base/shared' as *;

.contact-details {
  //background: $white;
  background: #F5F5F5;
  @include adaptiveValue("padding-top", 60, 40);
  @include adaptiveValue("padding-bottom", 80, 60);

  &__container {
    max-width: to-rem(900);
    margin: 0 auto;
    @include adaptiveValue("padding-left", 40, 20);
    @include adaptiveValue("padding-right", 40, 20);
  }

  &__header {
    text-align: left;
    @include adaptiveValue("margin-bottom", 40, 32);
  }

  &__title {
    font-family: $RB;
    font-weight: 800;
    color: $textDark;
    line-height: 1.3;
    margin: 0;
    @include adaptiveValue("font-size", 36, 28);
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    @include adaptiveValue("gap", 32, 24);

    @media (max-width: to-rem(900)) {
      flex-direction: column;
    }

    app-contact-info-card {
      flex: 1;
      min-width: 0;
      max-width: to-rem(480);
      display: flex;

      @media (max-width: to-rem(900)) {
        max-width: 100%;
      }
    }
  }
}
