@use '../../../assets/style/base/mixins' as *;
@use '../../../assets/style/base/shared' as *;

.job-card {
  display: flex;
  flex-direction: column;
  background: $navyDark;
  overflow: hidden;
  height: 100%;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  @include adaptiveValue("border-radius", 20, 16);

  &:hover {
    transform: translateY(to-rem(-5));
    box-shadow: 0 to-rem(12) to-rem(24) rgba(0, 0, 0, 0.25);
  }

  &__image-wrapper {
    position: relative;
    width: 100%;
    @include adaptiveValue("padding-left", 32, 24);
    @include adaptiveValue("padding-right", 32, 24);
    @include adaptiveValue("padding-bottom", 32, 24);
    @include adaptiveValue("padding-top", 28, 20);
  }

  &__image {
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: to-rem(14);
    @include adaptiveValue("height", 230, 180);
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    @include adaptiveValue("padding-top", 32, 24);
    @include adaptiveValue("padding-left", 32, 24);
    @include adaptiveValue("padding-right", 32, 24);
  }

  &__title {
    font-family: $RB;
    font-weight: 700;
    color: $white;
    line-height: 1.3;
    margin: 0;
    @include adaptiveValue("font-size", 24, 20);
    @include adaptiveValue("margin-bottom", 20, 16);
  }

  &__description {
    font-family: $RM;
    font-weight: 500;
    color: rgba($white, 0.95);
    line-height: 1.5;
    margin: 0;
    @include adaptiveValue("font-size", 16, 15);
  }
}
