@use '../../../assets/style/base/mixins' as *;
@use '../../../assets/style/base/shared' as *;

.contact-info-card {
  background: #e0e0e0;
  border: to-rem(2) solid #0E293F;
  border-radius: to-rem(14);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
  position: relative;
  @include adaptiveValue("padding-top", 24, 20);
  @include adaptiveValue("padding-bottom", 24, 20);
  @include adaptiveValue("padding-left", 28, 20);
  @include adaptiveValue("padding-right", 28, 20);
  @include adaptiveValue("gap", 18, 14);

  &__header {
    display: flex;
    align-items: center;
  }

  &__icon {
    @include adaptiveValue("width", 34, 28);
    @include adaptiveValue("height", 34, 28);
  }

  &__divider {
    width: 100%;
    height: to-rem(1.8);
    background: #0E293F;
    opacity: 0.5;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include adaptiveValue("gap", 14, 10);
  }

  &__text {
    font-weight: 500;
    line-height: 1.45;
    color: #0E293F;
    margin: 0;
    flex: 1;
    @include adaptiveValue("font-size", 18, 16);
  }

  &__copy {
    flex-shrink: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    transition: opacity 0.25s ease;
    position: relative;
    @include adaptiveValue("width", 22, 20);
    @include adaptiveValue("height", 22, 20);
    @include adaptiveValue("margin-left", 14, 10);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: opacity 0.25s ease;
    }

    i {
      color: #50c878;
      position: absolute;
      @include adaptiveValue("font-size", 22, 20);
    }

    &:hover:not(&--copied) {
      opacity: 1;
    }

    &--copied {
      pointer-events: none;

      img {
        opacity: 0;
      }
    }
  }
}
