@use '../../assets/style/style' as *;
@use '../../assets/style/base/mixins' as *;
@use '../../assets/style/base/shared' as *;

.error-message {
/*  position: absolute;
  bottom: to-rem(-20);
  left: 0;*/
  color: #dc2626;
  font-size: to-rem(14);
  font-weight: 500;
  .light-mode & {
    color: #ef4444;
  }

  &--vert{
    font-size: to-rem(16);
    margin-top: to-rem(-10);
    cursor: default;
  }
  &--contact {
    //padding-left: to-rem(20);
    &._active {
      padding: to-rem(10) to-rem(10) to-rem(10) to-rem(20);
      position: relative;
      bottom: 0;
      background-color: #202324;
      border-radius: to-rem(0) to-rem(0) to-rem(5) to-rem(5);
      border: to-rem(1) solid #FFFFFF;
      border-top: none;
      transform: translateY(0);
      opacity: 1;
      animation: drop_down-on 0.2s ease-in-out;
      @media (max-width: $mobile) {
        z-index: 4;
        margin: to-rem(0) to-rem(15);
      }
    }
    &._unactive {
      display: none;
    }
  }
  &._active-gr{
     position:
           absolute;
           //width: 100%;
           height: 100%;
           bottom: to-rem(-42);
           left: 0;

    //margin-top: to-rem(-10);
    //margin-bottom: to-rem(10);
  }
}
