@use 'base/shared' as *;
@use 'sass:math';
//
//
//// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@use 'sass:meta';
@use 'base/mixins' as *;

/// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных классов
// Для подключения/отключения конкретных стилей смотри base.scss
@include meta.load-css('base');

// Подключение стилей отдельных блоков
@include meta.load-css('header');
@include meta.load-css('footer');

// Подключение стилей отдельных страниц
@include meta.load-css('home');

$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S
