<footer class="footer">
  <div class="footer__container">
    <div class="footer__top">
      <div class="footer__brand">
        <h3 class="footer__logo">{{ companyName() }}</h3>
      </div>

      <div class="footer__columns">
        @for (column of columns(); track column.title) {
          <div class="footer__column">
<!--            <h4 class="footer__column-title">{{ column.title }}</h4>-->
            <ul class="footer__links">
              @for (link of column.links; track link.href) {
                <li class="footer__link-item">
                  <a
                    [href]="link.href"
                    class="footer__column-title"
                    (click)="onLinkClick($event, link.href)"
                  >
                    {{ link.label }}
                  </a>
                </li>
              }
            </ul>
          </div>
        }
      </div>
    </div>

    <div class="footer__bottom">
      <p class="footer__copyright">
        AACAS © 2025. All Rights Reserved
      </p>
    </div>
  </div>
</footer>
