@use '../../../../assets/style/base/mixins' as *;
@use '../../../../assets/style/base/shared' as *;

.direct-employer {
  background: $white;
  @include adaptiveValue("padding-top", 80, 50);
  @include adaptiveValue("padding-bottom", 100, 50);

  &__container {
    max-width: to-rem(1440);
    margin: 0 auto;
    @include adaptiveValue("padding-left", 40, 20);
    @include adaptiveValue("padding-right", 40, 20);
  }

  &__header {
    text-align: center;
    @include adaptiveValue("margin-bottom", 80, 30);
  }

  &__title {
    font-family: $RB;
    font-weight: 800;
    color: $textDark;
    line-height: 1.3;
    margin: 0;
    @include adaptiveValue("font-size", 42, 26);
    @include adaptiveValue("margin-bottom", 20, 16);
  }

  &__description {
    font-family: $RM;
    font-weight: 500;
    color: $textGray;
    line-height: 1.6;
    margin: 0 auto;
    max-width: to-rem(1000);
    @include adaptiveValue("font-size", 16, 15);
    //@include adaptiveValue("margin-bottom", 160, 60);
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    @include adaptiveValue("gap", 60, 40);

    @media (max-width: to-rem(991.98)) {
      grid-template-columns: 1fr;
    }
  }

  &__features {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__photo {
    position: relative;
    background: $navyDark;
    border-radius: to-rem(12);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    @include adaptiveValue("padding", 30, 24);
    @include adaptiveValue("min-height", 500, 400);

    @media (max-width: to-rem(991.98)) {
      order: -1;
    }
  }

  &__photo-content {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: to-rem(20);
    @include adaptiveValue("margin-bottom", 24, 20);
    @media (max-width: em(570)) {
      flex-direction: column-reverse;
    }
  }

  &__photo-text {
    font-family: $RM;
    font-weight: 500;
    color: $white;
    line-height: 1.7;
    margin: 0;
    flex: 1;
    @include adaptiveValue("font-size", 16, 15);
  }

  &__photo-logo {
    flex-shrink: 0;
    width: to-rem(140);
    height: to-rem(80);
    object-fit: contain;
    @include adaptiveValue("width", 140, 100, 570, 400, 1);
    @include adaptiveValue("height", 80, 40, 570, 400, 1);
  }

  &__photo-image {
    position: relative;
    width: 100%;
    flex: 1;
    border-radius: to-rem(8);
    overflow: hidden;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}
