@use '../../../../assets/style/base/mixins' as *;
@use '../../../../assets/style/base/shared' as *;

.direct-employer {
  background: $white;
  @include adaptiveValue("padding-top", 80, 60);
  @include adaptiveValue("padding-bottom", 80, 60);

  &__container {
    max-width: to-rem(1440);
    margin: 0 auto;
    @include adaptiveValue("padding-left", 40, 20);
    @include adaptiveValue("padding-right", 40, 20);
  }

  &__header {
    text-align: center;
    @include adaptiveValue("margin-bottom", 60, 40);
  }

  &__title {
    font-family: $UB;
    font-weight: 700;
    color: $textDark;
    line-height: 1.3;
    margin: 0;
    @include adaptiveValue("font-size", 42, 32);
    @include adaptiveValue("margin-bottom", 20, 16);
  }

  &__description {
    font-family: $PR;
    color: $textGray;
    line-height: 1.6;
    margin: 0 auto;
    max-width: to-rem(800);
    @include adaptiveValue("font-size", 16, 15);
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    @include adaptiveValue("gap", 60, 40);

    @media (max-width: to-rem(991.98)) {
      grid-template-columns: 1fr;
    }
  }

  &__features {
    display: flex;
    flex-direction: column;
  }

  &__photo {
    position: relative;
    background: $navyDark;
    border-radius: to-rem(12);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptiveValue("min-height", 500, 400);

    @media (max-width: to-rem(991.98)) {
      order: -1;
    }
  }

  &__photo-content {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include adaptiveValue("padding", 40, 30);
  }

  &__photo-text {
    font-family: $PR;
    color: rgba($white, 0.95);
    line-height: 1.7;
    margin: 0;
    max-width: to-rem(450);
    @include adaptiveValue("font-size", 16, 15);
  }

  &__photo-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    z-index: 1;
  }
}
