@use '../../../assets/style/base/mixins' as *;
@use '../../../assets/style/base/shared' as *;

:host {
  display: block;
}

:host:not(:last-child) {
  .icon-feature {
    @include adaptiveValue("margin-bottom", 32, 30);
  }
}

.icon-feature {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 16, 12);
    @include adaptiveValue("margin-bottom", 8, 6);
  }

  &__icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptiveValue("width", 60, 50);
    @include adaptiveValue("height", 60, 50);

    i {
      color: $navyDark;
      @include adaptiveValue("font-size", 28, 24);
    }
  }

  &__icon-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__title {
    font-family: $PM;
    font-weight: 600;
    color: $textDark;
    line-height: 1.3;
    margin: 0;
    @include adaptiveValue("font-size", 20, 16);
  }

  &__description {
    font-family: $RM;
    font-weight: 500;
    color: $textGray;
    line-height: to-rem(23);
    margin: 0;
    max-width: to-rem(530);
    @include adaptiveValue("font-size", 16, 15);
  }
}
