@use '../../../../assets/style/base/mixins' as *;
@use '../../../../assets/style/base/shared' as *;

.career-development {
  background: $grayLight;
  @include adaptiveValue("padding-top", 80, 50);
  @include adaptiveValue("padding-bottom", 100, 50);

  &__container {
    max-width: to-rem(1440);
    margin: 0 auto;
    @include adaptiveValue("padding-left", 40, 20);
    @include adaptiveValue("padding-right", 40, 20);
  }

  &__header {
    text-align: center;
    @include adaptiveValue("margin-bottom", 80, 30);
  }

  &__title {
    font-family: $RB;
    text-align: left;
    font-weight: 700;
    color: $textDark;
    line-height: 1.3;
    margin: 0;
    @include adaptiveValue("font-size", 42, 26);
    @include adaptiveValue("margin-bottom", 16, 12);
  }

  &__description {
    font-family: $RM;
    font-weight: 500;
    text-align: left;
    color: $textGray;
    margin: 0;
    @include adaptiveValue("font-size", 18, 16);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include adaptiveValue("gap", 32, 24);

    @media (max-width: to-rem(1199.98)) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: to-rem(767.98)) {
      grid-template-columns: 1fr;
    }
  }
}
