@use '../../../../assets/style/base/mixins' as *;
@use '../../../../assets/style/base/shared' as *;

.testimonials {
  background: $white;
  @include adaptiveValue("padding-top", 100, 50);
  @include adaptiveValue("padding-bottom", 80, 50);

  &__container {
    max-width: to-rem(1440);
    margin: 0 auto;
    @include adaptiveValue("padding-left", 40, 20);
    @include adaptiveValue("padding-right", 40, 20);
  }

  &__content {
    display: grid;
    grid-template-columns: 600px 1fr;
    align-items: start;
    @include adaptiveValue("gap", 40, 30);

    @media (max-width: em(1389.98)) {
      grid-template-columns: 1fr;
      @include adaptiveValue("gap", 30, 20);
    }
    @media (max-width: to-rem(1099.98)) {
      grid-template-columns: 1fr;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    @media (max-width: to-rem(1099.98)) {
      //display: none;
    }
  }

  &__title {
    font-family: $RB;
    font-weight: 700;
    color: $textDark;
    line-height: 1.3;
    margin: 0;
    @include adaptiveValue("font-size", 42, 26);
    @include adaptiveValue("margin-bottom", 50, 40);

    @media (max-width: em(1389.98)) {
      @include adaptiveValue("margin-bottom", 20, 16);
    }
  }

  &__description {
    font-family: $RM;
    font-weight: 500;
    color: $textGray;
    line-height: 1.6;
    margin: 0;
    display: none;
    @include adaptiveValue("font-size", 16, 15);
    @include adaptiveValue("margin-bottom", 30, 24);

    @media (max-width: em(1389.98)) {
      display: block;
    }
  }

  &__photo-wrapper {
    position: relative;
    border-radius: to-rem(16);
    overflow: hidden;
    display: flex;
    @media (max-width: em(1389.98)) {
      display: none;
    }
  }

  &__photo {
    width: 100%;
    max-width: to-rem(600);
    border-radius: to-rem(16);
    object-fit: cover;
    display: block;
  }

  &__photo-placeholder {
    width: 100%;
    max-width: to-rem(700);
    background: $navyDark;
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptiveValue("min-height", 600, 400);
  }

  &__photo-icon {
    color: rgba($white, 0.3);
    @include adaptiveValue("font-size", 100, 80);
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include adaptiveValue("gap", 24, 20);

    @media (max-width: to-rem(899.98)) {
      grid-template-columns: 1fr;
    }
  }
}
