@use '../../../assets/style/base/mixins' as *;
@use '../../../assets/style/base/shared' as *;

.numbered-card {
  display: flex;
  flex-direction: column;
  @include adaptiveValue("margin-bottom", 40, 30);

  &__content {
    display: flex;
    align-items: flex-start;
    @include adaptiveValue("gap", 24, 20);
  }

  &__number {
    flex-shrink: 0;
    font-family: $UB;
    font-weight: 700;
    color: $numberGray;
    line-height: 1;
    @include adaptiveValue("font-size", 80, 60);
  }

  &__text {
    flex: 1;
    display: flex;
    flex-direction: column;
    @include adaptiveValue("gap", 12, 10);
  }

  &__title {
    font-family: $PM;
    font-weight: 600;
    color: $textDark;
    line-height: 1.3;
    margin: 0;
    @include adaptiveValue("font-size", 24, 20);
  }

  &__description {
    font-family: $PR;
    color: $textGray;
    line-height: 1.6;
    margin: 0;
    @include adaptiveValue("font-size", 16, 14);
  }

  &__link {
    display: inline-block;
    font-family: $PM;
    font-weight: 500;
    color: $textDark;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
    align-self: flex-start;
    @include adaptiveValue("font-size", 14, 13);

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: to-rem(1);
      background: $textDark;
      transition: width 0.3s ease;
    }

    &:hover {
      color: $navyDark;

      &::after {
        width: 0;
      }
    }
  }

  &__link-text {
    position: relative;
  }
}
