/* Error: 2 arguments required, but only 1 was passed.
 *    ,
 * 11 |     font-size: to-rem(20);
 *    |                ^^^^^^^
 *    '
 *   spollers.scss 11:13  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: 2 arguments required, but only 1 was passed.\a    \2577 \a 11 \2502      font-size: to-rem(20);\a    \2502                 ^^^^^^^\a    \2575 \a   spollers.scss 11:13  root stylesheet";
}
