@use "mixins";
// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
	display: grid;
	gap: 15px;
}
// Спойлер
.spollers__item {
	font-size: mixins.to-rem(20);
	&:not(:last-child) {
		margin-bottom: mixins.em(30, 20);
	}
}
// Заголовок спойлера
.spollers__title {
	width: 100%;
	cursor: default;
	text-align: left;
	border: 1px solid #eee;
	padding: mixins.to-rem(10) mixins.to-rem(15);
	border-radius: mixins.to-rem(5);
	position: relative;
	._spoller-init & {
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			position: absolute;
			right: 10px;
			top: 50%;
			background-color: #000;
			height: 2px;
			width: 15px;
			transition: transform 0.5s ease 0s;
		}
		&::before {
			transform: translate(-75%, -50%) rotate(40deg);
		}
		&::after {
			transform: translate(0, -50%) rotate(-40deg);
		}
		&._spoller-active {
			&::before {
				transform: translateX(-75%) rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
	}
}
// Контент спойлера
.spollers__body {
	padding: mixins.to-rem(20);
	border-radius: mixins.to-rem(5);
	border: 1px solid #eee;
}
