/* Error: 2 arguments required, but only 1 was passed.
 *   ,
 * 9 |         padding: to-rem(10) to-rem(15);
 *   |                  ^^^^^^^
 *   '
 *   tabs.scss 9:12  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: 2 arguments required, but only 1 was passed.\a   \2577 \a 9 \2502          padding: to-rem(10) to-rem(15);\a   \2502                   ^^^^^^^\a   \2575 \a   tabs.scss 9:12  root stylesheet";
}
