@use '../../../assets/style/base/mixins' as *;
@use '../../../assets/style/base/shared' as *;

.testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $grayCard;
  border-radius: to-rem(14);
  height: 100%;
  @include adaptiveValue("padding", 24, 20);

  &__text {
    font-family: $RM;
    font-weight: 500;
    color: $textDark;
    line-height: 1.55;
    margin: 0;
    @include adaptiveValue("font-size", 16, 15);
    @include adaptiveValue("margin-bottom", 20, 16);
  }

  &__author {
    display: flex;
    align-items: center;
    gap: to-rem(12);
  }

  &__avatar {
    flex-shrink: 0;
    width: to-rem(42);
    height: to-rem(42);
    border-radius: 50%;
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-family: $RM;
    font-weight: 600;
    color: $textDark;
    line-height: 1.3;
    margin: 0;
    font-size: to-rem(16);
  }

  &__position {
    font-family: $RM;
    font-weight: 500;
    color: $textDark;
    opacity: 0.7;
    line-height: 1.3;
    margin: 0;
    font-size: to-rem(14);
  }
}
