@use '../../../assets/style/base/mixins' as *;
@use '../../../assets/style/base/shared' as *;

:host {
  display: block;
}

// Когда карточки в 2 колонки (grid 2x2): 1-я и 4-я темные
@media (min-width: to-rem(900)) {
  :host:nth-child(1),
  :host:nth-child(4) {
    .testimonial-card {
      background: #0E293F;
    }

    .testimonial-card__text {
      color: rgba($white, 0.9);
    }

    .testimonial-card__name {
      color: $white;
    }

    .testimonial-card__position {
      color: rgba($white, 0.7);
    }
  }
}

// Когда карточки в 1 колонку: 1-я и 3-я темные
@media (max-width: to-rem(899.98)) {
  :host:nth-child(1),
  :host:nth-child(3) {
    .testimonial-card {
      background: #0E293F;
    }

    .testimonial-card__text {
      color: rgba($white, 0.9);
    }

    .testimonial-card__name {
      color: $white;
    }

    .testimonial-card__position {
      color: rgba($white, 0.7);
    }
  }
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $grayCard;
  border-radius: to-rem(14);
  height: 100%;
  @include adaptiveValue("padding", 24, 20);

  &__text {
    font-family: $RM;
    font-weight: 500;
    color: $textDark;
    line-height: 1.55;
    margin: 0;
    @include adaptiveValue("font-size", 16, 15);
    @include adaptiveValue("margin-bottom", 20, 16);
  }

  &__author {
    display: flex;
    align-items: center;
    gap: to-rem(12);
  }

  &__avatar {
    flex-shrink: 0;
    width: to-rem(55);
    height: to-rem(55);
    border-radius: to-rem(10);
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-family: $RM;
    font-weight: 600;
    color: $textDark;
    line-height: 1.3;
    margin: 0;
    font-size: to-rem(16);
  }

  &__position {
    font-family: $RM;
    font-weight: 500;
    color: $textDark;
    opacity: 0.7;
    line-height: 1.3;
    margin: 0;
    font-size: to-rem(14);
  }
}
