@use '../../../../assets/style/base/mixins' as *;
@use '../../../../assets/style/base/shared' as *;

.why-choose-us {
  background: $white;
  @include adaptiveValue("padding-top", 100, 50);
  @include adaptiveValue("padding-bottom", 100, 50);

  &__container {
    max-width: to-rem(1700);
    margin: 0 auto;
    @include adaptiveValue("padding-left", 60, 20);
    @include adaptiveValue("padding-right", 60, 20);
  }

  &__layout {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media (max-width: to-rem(1500)) {
      flex-direction: column;
      align-items: center;
      @include adaptiveValue("gap", 60, 40);
    }
  }

  &__sidebar {
    flex-shrink: 0;
    width: auto;

    @media (max-width: to-rem(1500)) {
      width: 100%;
    }
  }

  &__sticky-wrapper {
    position: -webkit-sticky;
    position: sticky;
    //top: to-rem(120);
    top: 43%;

    @media (max-width: to-rem(1500)) {
      position: static;
    }
  }

  &__title {
    font-family: $RB;
    font-weight: 800;
    color: $textDark;
    line-height: 1.2;
    margin: 0;
    white-space: normal;
    @include adaptiveValue("font-size", 48, 26);

    @media (max-width: to-rem(1500)) {
      text-align: center;
    }
  }

  &__content {
    flex-shrink: 0;
    max-width: to-rem(800);

    @media (max-width: to-rem(1500)) {
      max-width: 100%;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__card-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 30);
    }
  }
}
