@use '../../../assets/style/style' as *;
@use '../../../assets/style/base/mixins' as *;
@use '../../../assets/style/base/shared' as *;

.hero {
  position: relative;
  /* .hero__container */
  &__container {
    position: relative;
    z-index: 2;
    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.1);
    }

    &--civil{
      &::after {
        background-color: rgba(0, 0, 0, 0.23);
      }
    }
  }

  &__content {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 3;
  }
}
