@use '../../../assets/style/style' as *;
@use '../../../assets/style/base/mixins' as *;
@use '../../../assets/style/base/shared' as *;

.second-block {
  border-bottom: to-rem(1) solid $blockLine;
  @include adaptiveValue("padding-block-start", 100, 40);
  @include adaptiveValue("padding-block-end", 130, 40);

  &--neural{
    @include adaptiveValue("padding-block-end", 110, 60);
  }

  &__container {
    @include adaptiveValue("padding-left", 50, 15, 1540, 767.98);
    @include adaptiveValue("padding-right", 50, 15, 1540, 991.98);

  }

  &__body {
    display: grid;
    //align-items: end;
    column-gap: to-rem(50);
    @media (min-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $tablet) {
      grid-template-columns: repeat(1, 1fr);
    }

    &--civil{
      @media (min-width: $tablet) {
        align-items: end;
      }
    }
  }

  &__title {

    @media (min-width: $tablet) {
      grid-column: 1;
      grid-row: 1;
    }
    @media (max-width: $tablet) {
      grid-column: 1;
      grid-row: 1;
    }
  }

  &__text {
    @media (min-width: $tablet) {
      grid-column: 1;
      grid-row: 2;
    }
    @media (max-width: $tablet) {
      grid-column: 1;
      grid-row: 3;
    }
  }

  &__button {
    @media (min-width: $tablet) {
      grid-column: 1;
      grid-row: 4;
    }
    @media (max-width: $tablet) {
      grid-column: 1;
      grid-row: 4;
    }
  }

  &__box-length {
    width: 100%;
    //height: 100%;
    @media (min-width: $tablet) {
      grid-column: 2;
      grid-row: 1 / span 4;
    }
    @media (max-width: $tablet) {
      grid-column: 1;
      grid-row: 2;
      margin-bottom: to-rem(15);
    }
  }

  &__video{
    //width: to-rem(688);
    //height: to-rem(430);
    width: 100%;
    height: auto;
    //aspect-ratio: 16/9;
    aspect-ratio: 688/430;
    object-fit: cover;
    background-color: #000000;
    //border-radius: to-rem(25);

    @media (min-width: em(991.98)) {
      max-width: to-rem(688);
      max-height: to-rem(430);
    }

    @media (max-width: em(991.98)) {
      width: 100%;
      max-width: to-rem(830);
      @include adaptiveValue("max-height", 430, 250);
    }
  }

}
